html{
	background-color: #fff9e6;
}

body{
	  background-color: #FFFFFF;  
	  width: 80%;  
	  margin-left: auto;  
	  margin-right: auto;
	  padding: 20px;
}

nav{
	background-color: #e699ff;
	padding: 3px;
}
nav a:hover{
	color: red;
	text-decoration: none;
}

nav a:active{
	color: white;
}

nav a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
	display: inline;
	padding-right: 150px;
	font-size: 20px;
}

.container img{
	display: inline;
	height: 230px;
	width: 150px;
}

.card {
	display: inline-block;
	background-color: #ffffcc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 3px;
    margin-top: 10px;
    margin-right: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer li{
	padding-right: 40px;
	display: inline;
	list-style-type: none;
}

iframe{
	margin-top: 30px;
	width: 100%;
}



